<div class="parent">
    <div class="sidebar" [class.collapse-sidebar-width]="sharedService.isSideBarVisible">
        <app-sidebar></app-sidebar>
    </div>
    <div class="main-content" [class.collapse-main-content-width]="sharedService.isSideBarVisible">
        <div class="header">
            <app-header></app-header>
        </div>
        <div class="content">
            <ng-container *ngIf="sharedService.index === 0">
                <app-dashboard></app-dashboard>
            </ng-container>
            <ng-container *ngIf="sharedService.index === 1">
                <app-teacherdata></app-teacherdata>
            </ng-container>
            <ng-container *ngIf="sharedService.index === 2">
                <app-studentdata></app-studentdata>
            </ng-container>
        </div>
    </div>
</div>